.done {
	text-decoration: line-through;
}
body {
	/*x-color: blue;*/
	background: linear-gradient(to right, rgb(242, 243, 242), rgb(208, 189, 189));
	text-align: center;
}

/*.heading {
	color: red
	text-align: center;
}*/

/*.shopping_list {
	text-align: center;
}*/